$--black: #000;
$--white: #fff;
$--ccc: #e6e1e1;
$--purple: #a303ff;
$--background-purple: #e4eef9;
$--color-p: #6b6666;
$--button-color: #130F49;
$--orange: #FF972D;
$--blue: #D3F4EC;
$--pink: #FCE8D4;
$--green: #E3F9E0;